*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans';
    color: black;
    font-size: 20px;
    min-width: 1200px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.debug{
    border: 1px solid black;
}


/* GENERAL CLASS */

.left{
    float: left;
}
.right{
    float: right;
}
.container-90{
    width: 90%;
    margin: 0 auto;
}
.container-75{
    width: 75%;
    margin: 0 auto;
}
.bg-color-skyblue{
    background-color: #B1CDE3;
}
.underline:hover{
    text-decoration: underline;
}

/* HEADER */

/* navbar */
nav{
    width: 100%; 
    height: 90px;
    min-width: 1200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    border-bottom: 1px solid #6A7986;
}
nav ul li{
    list-style-type: none;
    display: inline-block;

}
.navsx{
    width: 50%;

}
.navdx{
    width: 50%;
    text-align: right;
}
.start-btn a{
    display: block;
    padding: 10px 20px;
    background-color: #0061FF;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    margin: 22px;
}
nav .logo, nav ul{
    display: inline-block;
}
nav ul li.list-hover:hover{
    border-bottom: 2px solid black;
    cursor: pointer;
}
.navsx ul li a, .navdx ul li a{
    text-decoration: none;
    color: black;
    padding-right: 11px;
    padding-left: 11px;
    line-height: 90px;
}
.navsx ul li a img{
    vertical-align: middle;
}


/* jumbotron */

#jumbotron{
    margin-top: 70px;
    padding-top: 80px;
    padding-left: 70px;
    padding-right:70px;
}
.jumbo-title{
    width: 100%;
    padding-top: 20px;
}
.jumbo-title h1{
    font-size: 80px;
    padding-right: 125px;
}
.jumbo-text{
    width: 31%;
    padding-top: 80px;
    margin-right: 78px;
}
.jumbo-text p{
    font-size: 17px;
    font-weight: 500;
    word-spacing: 0.1em;
    text-align: left;
    margin-bottom: 50px;
}
.jumbo-img{
    width: 60%;
    position: relative;
    bottom: -80px;
    right: -30px;
}
.jumbo-img img{
    width: 100%;
}
.btn a:hover{
    background-color: blue;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
.btn a{
    display: block;
    padding: 10px 20px;
    background-color: #0061FF;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}
.small-text{
    font-size: 18px;
    margin-top: 20px;
}
.arrow a i{
    padding-top: 50px;
    font-size: 50px;
    font-weight: 800;
    color: black;
}

/* CORPO */
.sez-1{
    margin-top: 165px;
}
.sez-2{
    margin-top: 165px;
}
.sez-3{
    margin-top: 90px;
}
.sez-4{
    margin-top: 100px;
}
.sez-5{
    margin-top: 165px;
}
.sez-6{
    margin-top: 165px;
}
.sez-7{
    margin-top: 165px;
}


/* sezione 1 */
.sez-1-title-container{
    width: 100%;
}
.sez-1-title{
    width: 100%;
    padding: 50px 0px;
}
.sez-1-title h2{
    font-size: 46px;
}
.sez-1-check{
    padding: 25px 0px;
}
.sez-1-check p{
    line-height: 20px;
}
.check{
    width: 18px;
    height: 18px;
}
.checkbox {
  position: relative;
  margin-bottom: 22px;
  cursor: pointer;
  font-size: 22px;
}
.checkbox input:hover{
    cursor: pointer;
}
.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}
.checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkbox .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
}
.sez-1-card{
        display: block;
        width: calc((90% / 3) - 40px);
        border: 1px solid #D5D5D7;
}
.sez-1-center-card{
    margin: 0 120px;
}
.card-title{
      border-bottom: 1px solid #D5D5D7;
      text-align: center;
      padding: 10px;
}
.card-container{
      padding: 30px;
      min-height: 1200px;
}
.card-container h5{
    padding-top: 15px;
}
.card-container h6{
    font-size: 16px;
    color: #6A7986;
    padding-top: 10px;
}
.card-container p{
    padding-top: 55px;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 35px;
}
.card-content{
    display: block;
    margin-bottom: 30px
}
.card-btn a{
    padding: 10px 35px;
}
.cards{
    width: 100%;
    min-width: 1200px;
}
.card-link{
    font-size: 15px;
    font-weight: 600;
}
.card-link a{
    color: #5696FF;
}
.card-link a:hover{
    color: #0061FF;
}
.card-link a:active{
    color: red;
}
hr{
    margin: 50px 0;
    width: 50px;
    color: #6A7986;
}
.card-list h4{
    font-size:17px;
    font-weight: 700;
    padding-bottom: 20px;
}
.card-list ul li{
    list-style-type: none;
    padding-bottom: 20px;
}
.card-list ul li span{
    font-size: 19px;
}
.blue{
    color: #0061FF;
}
.sez-1-footer{
    width: 100%;
    min-width: 1200px;
}
.sez-1-footer-container{
    margin-top: 55px;
    border: 1px solid #d5d5d7;
}
.sez-1-footer-title{
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #d5d5d7;
}
.sez-1-footer-content{
    padding: 40px;
}
.sez-1-footer-content-title{
    width: 50%;
}
.sez-1-footer-content-btn{
    width: 40%;
    text-align: right;
}
.sez-1-btn a{
    padding: 10px 85px;
}
.sez-1-footer-content-subtitle{
    width: 100%;
    padding-top: 25px;
    text-align: left;
}
.sez-1-footer-content-text{
    width: 100%;
    padding-top: 25px;
    text-align: left;
}

/* sezione 2 */
.sez-2-img{
    width: 60%;
}
.sez-2-img img{
    width: 100%;
}
.sez-2-text{
    width: 40%;
    padding-left: 70px;
    padding-top: 70px;
}
.sez-2-text h5{
    font-size:30px;
}
.sez-2-text p{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 2em;
}
.sez-2-btn a{
    padding: 10px 25px;
    border: 1px solid black;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 16px;
} 
.sez-2-btn a:hover{
    background-color: #4b565f;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
}

/* sezione 3 */
.sez-3-title{
    padding: 30px 0;
    font-size: 37px;
}
.sez-3-cards{
    width: 100%;
    min-width: 1200px;
    padding-top: 15px;
}
.sez-3-card{
    width: calc((100% / 3) - 70px);
    padding-bottom: 100px;
}
.sez-3-card img{
    width: 100%;
}
.sez-3-card h5{
    font-size:30px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.sez-3-card p a{
    text-decoration: none;
    color: black;
}
.sez-3-center-card{
    margin: 0 100px;
}

/* sezione 4 */
.sez-4-container{
    width: 50%;
}
.sez-4-title{
    font-size: 37px;
}
.sez-4-link{
    font-size: 16px;
    padding: 20px 0;
}
.sez-4-link a:hover{
    color: red;
}
.sez-4-link a:active{
    color: red;
}

/* sezione 5 */
.sez-5-container{
    width: 99vw;
    height: 30vw;
    min-height: 60vh;
}
.sez-5-side-box{
    background-color: #5696FF;
    width: 30%;
    height: 100%;
}
.sez-5-logo{
    width: 50%;
    height: 50%;
}
.sez-5-logo img{
    width: 7vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sez-5-logo img{
    filter: invert(1);
}
.sez-5-center-box{
    width: calc(100% - 60vw);
    height: 100%;
    background-color: #F5F5F5;
    overflow-y: auto;
}
.sez-5-center-box-content{
    width: 100%;
    padding-left: 50px;
}
.sez-5-center-box-content img{
    padding-top: 50px;
    width: 7vw;
}
.sez-5-center-box-content-text{
    padding: 0 50px;
}
.sez-5-center-box-content-text p{
    font-size: 19px;
    font-weight: 600;
    padding-bottom: 50px;
}
.sez-5-center-box-content-text span{
    font-size: 19px;
    font-weight: 600;
}

/* sezione 6 */
.sez-6-title{
    width: 50%;
    font-size: 40px;
    color: #61082B;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 100px;
}
.sez-6-button{
    padding-top: 110px;
    padding-left: 50px;
    padding-bottom: 100px;
    padding-right: 70px;
}
.sez-6-btn{
    padding: 10px 0px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
}
.sez-6-btn a{
    text-decoration: none;
    color: black;
    padding: 10px 80px;
}
.sez-6-btn:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
}
.margin-top-negative{
    margin-top: -165px;
}

/* sezione 7 */
.sez-7-container{
    padding: 100px 50px;
}
.sez-7-title{
    padding-bottom: 50px;
}
.sez-7-content{
    padding-top: 35px;
    padding-bottom: 35px;
    border-top: 1px solid #E0E0E1;
    font-size: 20px;
}
.sez-7-final-content{
    padding-top: 35px;
    padding-bottom: 35px;
    border-top: 1px solid #E0E0E1;
    border-bottom: 1px solid #E0E0E1;
}
.sez-7-content-title{
    width: 95%;
}
.sez-7-extend{
    width: 5%;
}
.sez-7-content i, .sez-7-final-content i{
    display: inline-block;
    width: 5%;
    padding: 5px;
    cursor: pointer;
}
.sez-7-content-title span{
    width: 95%;
    padding: 10px 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
.sez-7-content p, .sez-7-final-content p{
    display: none;
    font-size: 20px;
    margin-top: 10px;
}
.sez-7-content-title:hover p{
    position: relative;
    display: block;
}

/* footer */
footer{
    background-color: black;
    color: white;
}
.footer-container{
    width: 85%;
    margin: 0 auto;
}
.footer-container .info-list{
    padding-top: 50px;
    width: calc(100% / 5 - 190px);
    margin: 83px;
    min-height: 220px;
    padding-bottom: 100px;
}
.footer-container .info-list h5{
    font-size: 20px;
    padding-bottom: 20px;
}
.footer-container .info-list ul li{
    list-style-type: none;
    font-weight: 300;
    font-size: 14px;
    padding: 3px 0;
}
.footer-container .lang{
    color: #707070;
    border-top: 1px solid#707070;
    width: 75%;
    font-size: 14px;
    margin-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer .content-1{
    width: 100%;
}
footer .content-1{
    width: 100%;
}
.footer-container .info-list ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.content-2:hover{
    cursor: pointer;
}


.btn a:active{
    background-color: red;
}
.sez-2-btn a:active{
    background-color: red;
}
.sez-4-link a:hover, .sez-4-link a:active{
    color: red;
}
.sez-6-btn:active{
    background-color: red;
}
.sez-6-btn a:hover{
    background-color: #6a798659;
}





/* colori box con loghi */
.green{
    background-color: #A2D39B;
}
.red{
    background-color: #D5001F;
}
.luminous-red{
    background-color: #FF1C1C;
}
.dark-red{
    background-color: #61082B;
}
.bg-blue{
    background-color: #0093CE;
}
.dark-blue{
    background-color: #0D2481;
}
.yellow{
    background-color: #FFD830;
}



/* menu drop down */


  
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} 
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 300px;
    padding-left: 15px;
    font-size: 15px;
} 
.dropdown-content a:hover {
    background-color: #f1f1f1;
    border: 1px solid black;
}  
.dropdown:hover .dropdown-content {
    display: block;
}



/* pagina supporto */

.jumbo-supporto{
    height: 600px;
    padding-top: 40px;
}
.jumbo-supporto-img{

    width: 100%;
    height: 100%;
    background-image: url(../img/jumbo-supporto.jpg);
    background-size: cover;

}


.main-supporto{
    width: 60%;
    margin: 0 auto;
}

.supporto-sez-1{
    width: 100%;
}
.supporto-sez-1-title{
    width: 60%;
    padding-top: 80px;
    padding-bottom: 180px;
    font-size: 40px;
}
.supporto-sez-1-text{
    width: 40%;
    padding-top: 80px;
    padding-bottom: 180px;
}

.supporto-sez-2{
    width: 100%;
}
.main-list{
    width: calc((100% / 4) - 60px);
    padding-bottom: 50px;
    padding-top: 20px;
    border-top: 1px solid black;
    margin-right: 60px;
}
.main-list ul li{
    padding-top: 10px;
    list-style-type: none;
    color: grey;
    font-size: 14px;
}
.main-list h4{
    font-weight: 400;
    padding-bottom: 10px;
    font-size: 19px;
}




